body {
  margin: 0;
  font-family: "Monda";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  justify-content: center;
}

.focusable:hover {
  cursor: pointer;
}

.container {
  opacity: 0;
}

.container.loaded {
  opacity: 1;
  transition: opacity 2s;
  -webkit-transition: opacity 2s;
  -moz-transition: opacity 2s;
  -o-transition: opacity 2s;
}

.active {
  text-decoration: underline !important;
}

a {
  text-decoration: none;
}

p {
  word-break: break-all;
  white-space: normal;
}

.styled-button {
  position: "fixed";
  transition: top 20s;
  top: 0;
}

/* #skills-section {
  position: absolute;
  top: 405px;
  transition: top 3s cubic-bezier();
} */
/* #skills-section.move {
  transform: translateY(0);
}
#experience-section {
  position: absolute;
  top: 405px;
}
#education-section {
  position: absolute;
  top: 405px;
} */

.movable {
  position: absolute;
  transition: top 2s, left 2s;
}

.focusable {
  transition: all 2s;
}

.sections {
  opacity: 0;
  /* position: absolute; */
}

.sections.show {
  opacity: 1;
  transition: all 1s;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #237d82;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #237d82;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #237d82;
}
