body {
  margin: 0;
  font-family: "Monda";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  justify-content: center;
}

.focusable:hover {
  cursor: pointer;
}

.container {
  opacity: 0;
}

.container.loaded {
  opacity: 1;
  transition: opacity 2s;
  -webkit-transition: opacity 2s;
  -moz-transition: opacity 2s;
  -o-transition: opacity 2s;
}

.active {
  text-decoration: underline !important;
}

a {
  text-decoration: none;
}

p {
  word-break: break-all;
  white-space: normal;
}

.styled-button {
  position: "fixed";
  transition: top 20s;
  top: 0;
}

#skills-section-styled-button {
  position: absolute;
  background-color: white;
}
#skills-section-styled-button.animate {
  background-color: red;
  transform: translate(0, 0);
}
